<!DOCTYPE html>
<html lang="en">
<head>
  <title>DSM Fitness</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
    <img src="@routes.Assets.at("/public/images", "logo.png")" />
</div>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">DSM Fitness</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
	  
				<li class="active" class="dropdown"><a class=dropdown-toggle" data-toggle="dropdown" 
				href="equipment">Equipment<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><li><a href="equipmentfreeweights">Free-Weights</a></li>
					<li><a href="equipmentmachine">Machines & Benches</a></li>
				</ul>
				</li>
				
				<li class="dropdown"><a class=dropdown-toggle" data-toggle="dropdown" 
				href="supplements">Supplements<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="supplements">Muscle</a></li>
					<li><a href="weightloss">Weight-Loss</a></li>
				</ul>
				</li>
	
	<li><a href="about">About Us</a></li>
	<li><a href="contact">Contact</a></li>
	
	<ul class="nav navbar-nav navbar-right">
      <li><a href="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
	  
	  <form class="navbar-form navbar-right">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    </ul>
  </div>
</nav>

<div class="jumbotron text-center">
  <h1>Free Weights vs Gains!</h1>
  <p>How To build a solid body for a solid workout!</p>
  <p>Check down below and find out!</p> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Bent Over Row</h3>
      <img src="@routes.Assets.at("/public/images", "bentoverrow.png")" />
      <ul>
      
  <li>Keep your Core tight</li>
  <li>Back Straight and raise weight to chest</li>
  <li>traps, rhomboids, lats and biceps perfect for getting you that ‘V’ shape,”.
  <li> And not only that, it'll hone in on your deltoids</li>
</ul> 
      
    </div>
    <div class="col-sm-4">
      <h3>Dumbell Clean</h3>
      <img src="@routes.Assets.at("/public/images", "dbclean.png")" />
      <ul>
  <li>Face forward,and bring the weight to your shoulders</li>
  <li>while jumping slightly,and slowly straighten your legs</li>
  <li>Helps build explosive power,rushes blood to glutes ,hamstrings and shoulders</li>
</ul> 
    </div>
    <div class="col-sm-4">
      <h3>Bench Press free weight</h3>  
      <<img src="@routes.Assets.at("/public/images", "benchW.jpg")" />     
      <ul>
  <li>Straighten you back and keep shoulders pinned</li>
  <li>Extend Arms and slowly bring down to chest</li>
  <li>Recruits as many muscle fibres as possible, and builds a bigger Chest</li>
</ul> 
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Cross Body hammer Curl</h3>
      <img src="@routes.Assets.at("/public/images", "cbcurl.jpg")" />
      <ul>
      
  <li>One at a time curl each weight to opposing Shoulder</li>
  <li>Return to starting Position</li>
  <li>Builds muscle fibres,engages the nervous Sysytem</li>
</ul> 
      
    </div>
    <div class="col-sm-4">
      <h3>Step-ups</h3>
      <img src="@routes.Assets.at("/public/images", "stepup.png")" />
      <ul>
	  <li></li>
  <li>Place working foot onto elevated platform and push through your heel</li>
  <li>Repeat on other side</li>
  <li>Maximises your Glutes strength,also acts as a stabiliser </li>
  <li> to help prevent injuries </li>
</ul> 
    </div>
    <div class="col-sm-4">
      <h3>Dumbell Stiff Legged Deadlift</h3>  
      <img src="@routes.Assets.at("/public/images", "stiff.png")" />
      <ul>
  <li>Lower the dumbbells to your feet,as far as you can go</li>
  <li>Then Slowly return to starting position </li>
  <li>Prevents hip and lower back injuries,also best free weight activity</li>
</ul> 
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>One Arm Swing</h3>
      <img src="@routes.Assets.at("/public/images", "oneswing.jpg")" />
      <ul>
      
  <li>Sink into a squat and swing dungbell through legs</li>
  <li>Bring weight towards head and repat on other side</li>
  <li>Builds Grip Strength,Co-ordination,Lower back muscles and Shoulders</li>
</ul> 
      

  </div>
</div>
</div>

<br>
<br>

<footer class="footer-distributed">
	<div class="footer-left" class="center-block">
	<p class="footer-links">
		<a href="index">Home</a>
		.
		<a href="about">About Us</a>
		.
		<a href="contact">Contact</a>
	</p>
	<p class="footer-company-name">DSM Fitness 2017</p>
	</div>
</footer>
</body>
</html>