<!DOCTYPE html>
<html lang="en">
<head>
  <title>DSM Fitness</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <img src="@routes.Assets.at("/public/images", "logo.png")" />
</div>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">DSM Fitness</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
	  
				<li class="active" class="dropdown"><a class=dropdown-toggle" data-toggle="dropdown" 
				href="equipment">Equipment<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="equipmentfreeweights">Free-Weights</a></li>
					<li><li><a href="equipmentmachine">Machines & Benches</a></li>
				</ul>
				</li>
				
				<li class="dropdown"><a class=dropdown-toggle" data-toggle="dropdown" 
				href="supplements">Supplements<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="supplements">Muscle</a></li>
					<li><a href="weightloss">Weight-Loss</a></li>
				</ul>
				</li>
	
	<li><a href="about">About Us</a></li>
	<li><a href="contact">Contact</a></li>
	
	<ul class="nav navbar-nav navbar-right">
      <li><a href="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
	  
	  <form class="navbar-form navbar-right">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    </ul>
  </div>
</nav>

<div class="jumbotron text-center">
  <h1>Machine vs Gains!</h1>
  <p>Building muscle?</p>
  <p>Check down below and find out!</p> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Smith Machine</h3>
      <<img src="@routes.Assets.at("/public/images", "smithMachine.jpg")" />
      <ul>
      
  <li>Provides Stability</li>
  <li>Variety</li>
  <li>Direct Targeting of muscles</li>
</ul> 
      
    </div>
    <div class="col-sm-4">
      <h3>Seated Leg Press</h3>
      <img src="@routes.Assets.at("/public/images", "legpress.jpg")" />
      <ul>
  <li>Quads,glutes,hamstrings,calves.</li>
  <li>Supports muscle growth</li>
  <li>Helps people build a foundation for squats.</li>
</ul> 
    </div>
    <div class="col-sm-4">
      <h3>Cardio Rowing Machine</h3>  
      <img src="@routes.Assets.at("/public/images", "row.jpg")" />
      <ul>
  <li>Total Body Workout</li>
  <li>Works upper and lower body </li>
  <li>Great for building cardio Endurance</li>
</ul> 
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Latorial Pull Down</h3>
      <img src="@routes.Assets.at("/public/images", "latpull.jpg")" />
      <ul>
      
  <li>Shoulders , traps , latorials</li>
  <li>Compound Workout excellent for building and maintaining muscle</li>
  <li>Builds a strong compund if you ever want to do pull ups!</li>
</ul> 
      
    </div>
    <div class="col-sm-4">
      <h3>Chest Press</h3>
      <img src="@routes.Assets.at("/public/images", "cpress.jpg")" />
      <ul>
  <li>Working your Chest,Biceps,Triceps</li>
  <li> Helps Create a stable workout plan</li>
  <li>Used on any level when entering the Gym</li>
</ul> 
    </div>
    <div class="col-sm-4">
      <h3>Hanging Leg Press</h3>  
      <img src="@routes.Assets.at("/public/images", "legpress.jpg")" />
      <ul>
  <li>Core , HipFlecors, Glutes</li>
  <li>Excellent Way to Get your body in shape </li>
  <li>No strain involved and easy to use</li>
</ul> 
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Cable Bar</h3>
      <img src="@routes.Assets.at("/public/images", "cbar.jpg")" />
      <ul>
      
  <li>All in one Machine</li>
  <li>Manufactured to hit every public Result equipmentmachine() {
        return ok(equipmentmachine.render());
    } part of your body while working out </li>
  <li>The Cable helps you force out them extra couple of reps.</li>
</ul> 
      

  </div>
</div>
</div>
<nav class="navbar navbar-nav">
  <footer class="footer-distributed">
    <div class="footer-left" class="center-block">
    <p class="footer-links">
      <a href="/">Home</a>
      .
      <a href="about">About Us</a>
      .
      <a href="contact">Contact</a>
    </p>
    <p class="footer-company-name">DSM Fitness 2017</p>
    </div>
  </nav>
  </footer>
</body>
</html>