<!DOCTYPE html>
<html lang="en">
<head>
  <title>DSM Fitness</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
    <img src="@routes.Assets.at("/public/images", "logo.png")" />
</div>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">DSM Fitness</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
	  
				<li class="dropdown"><a class=dropdown-toggle" data-toggle="dropdown" 
				href="equipment">Equipment<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="equipmentfreeweights">Free-Weights</a></li>
					<li><a href="equipmentmachine">Machines & Benches</a></li>
				</ul>
				</li>
				
				<li class="active" class="dropdown"><a class=dropdown-toggle" data-toggle="dropdown" 
				href="supplements">Supplements<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="supplements">Muscle</a></li>
					<li><a href="weightloss">Weight-Loss</a></li>
				</ul>
				</li>
	
	<li><a href="about">About Us</a></li>
	<li><a href="contact">Contact</a></li>
	
	<ul class="nav navbar-nav navbar-right">
      <li><a href="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
	  
	  <form class="navbar-form navbar-right">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    </ul>
  </div>
</nav>

<div class="jumbotron text-center">
  <h1>Supplements</h1>
  <p>Build Muscle and enjoy it!</p>
  <p>Check out our new products below!</p> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>ON Creatine Monohydrate</h3>
      <img src="@routes.Assets.at("/public/images", "optimum-nutrition-micronised-creatine-powder.jpg")" class="img-responsive" /> 
      <ul>
      
  <li>Creatine enhances performace between sets</li>
  <li>Inreases the production of ATP in the muscle</li>
  <li>Creates a better pump for the user</li>
</ul> 
      
    </div>
    <div class="col-sm-4">
      <h3>ON %100 whey</h3>
      <img src="@routes.Assets.at("/public/images", "on whey 100.jpg")" class="img-responsive" />
      <ul>
  <li>The world's best-selling protein powder.</li>
  <li>Supports muscle growth and maintenance.</li>
  <li>24g of premium whey protein, (5.5 g of BCAAs), but just 1.1 g of fat & 1g of sugar.</li>
</ul> 
    </div>
    <div class="col-sm-4">
      <h3>Kinetica Pre Fuel</h3>  
      <img src="@routes.Assets.at("/public/images", "kinetica pre fuel.jpg")" class="img-responsive"/> 
      <ul>
  <li>Contains BCAA's which promote muscle repair</li>
  <li>Also contains Caffeine which acts as a stimulant</li>
  <li>Creates a better pump for the user</li>
</ul> 
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Optimum Nutrition Gold Standard Gainer 1.62kg</h3>
      <img src="@routes.Assets.at("/public/images", "weightgainer.jpg")" class="img-responsive"/>
      <ul>
      
  <li>55 Grams of Protein - Primarily From Isolate Sources</li>
  <li>760 Calories from Quality Ingredients</li>
  <li>2:1 Ratio of Carbohydrates to Proteins</li>
</ul> 
      
    </div>
    <div class="col-sm-4">
      <h3>Optimum Nutrition Gold Standard PRE-WORKOUT</h3>
      <img src="@routes.Assets.at("/public/images", "on preworkout.png")" class="img-responsive" />
  <li>Naturally sourced caffeine to improve concentration</li>
  <li> Creatine to increase high-intensity performance</li>
  <li>2B Vitamins to boost energy-yielding metabolism</li>
</ul> 
    </div>
    <div class="col-sm-4">
      <h3>Kinetica Oat Gain</h3>  
      <img src="@routes.Assets.at("/public/images", "kinetica oat.png")" class="img-responsive" />     
      <ul>
  <li>Delivers over 600 calories from complex sources.</li>
  <li>Excellent source of low GI carbohydrate from ground oats.</li>
  <li>No added sugar.</li>
</ul> 
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>My Protein Impact Whey Protein</h3> 
      <img src="@routes.Assets.at("/public/images", "impactwhey.jpg")"  class="img-responsive"/>
      <ul>
      
  <li>Promotes muscle repair.</li>
  <li>Manufactured to rebuild damaged muscle fibres to support recovery and enhance performance.</li>
  <li>Fast absorbing, perfect for pre and post workout meals.</li>
</ul> 
      
    </div>
    <div class="col-sm-4">
      <h3>ON Lean Whey Protein</h3>
      <img src="@routes.Assets.at("/public/images", "lean whey.png")" class="img-responsive"/>
      <ul>
  <li>Optimum Nutrition's NEW Lean Whey is a delicious high protein shake.</li>
  <li>Low carb shake specially formulated to support your high protein diet.</li>
  <li>ean Whey delivers 20 g of high quality whey proteins which can be easily digested and absorbed into the body.</li>
</ul> 
    </div>
    <div class="col-sm-4">
      <h3>USN Pure protein GF-1</h3>  
      <img src="@routes.Assets.at("/public/images", "pure%20protein.jpg")" class="img-responsive" />     
      <ul>
  <li>Protein contributes to the growth & maintenance of muscle mass.</li>
  <li>Pantothenic acid supports normal synthesis and metabolism of steroid hormones, Vitamin D and some neurotransmitters. </li>
  <li>Niacin contributes to normal energy-yielding metabolism. </li>
</ul> 
    </div>
  </div>
</div>


<br>
<br>

<footer class="footer-distributed">
	<div class="footer-left" class="center-block">
	<p class="footer-links">
		<a href="/">Home</a>
		.
		<a href="about">About Us</a>
		.
		<a href="contact">Contact</a>
	</p>
	<p class="footer-company-name">DSM Fitness 2017</p>
	</div>
</footer>
</body>
</html>